[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=2.x"
psycopg2-binary = ">=2.7.4"

[dev-packages]
pylint = ">=1.9"
pytest = ">=3.5"
ipdb = ">=0.11"
django-extensions = ">=2.0.7"
twine = "*"

[requires]
python_version = "3.6"
